body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("Images/bckimg.jpg");
    background-size: cover;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    color: rgb(5, 5, 4);
    /* text-decoration: underline; */
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#wrapper
{
  justify-content: center;
  margin: 60mm 100mm 0mm 100mm;
}