#wrapperDiv {
  background-color: rgb(102, 121, 67) ;
  text-align: center;
  padding-bottom: 20%;
  border-radius: 50%;
  border: solid 1mm rgb(32, 99, 32);
}
.heading2 {
  text-align: center;
  color: rgb(255, 255, 255);
}
.generateButton {
  text-align: center;
}
.titleWrapper {
  padding-top: 20%;
}
#display {
 color: wheat;
}